<div class="row">
    <div class="col-md-8 col-xl-6 mx-auto">
  
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmitClick()">
  
        <div class="card mt-1">
          <div class="card-header">
            <h4>Sign Up</h4>
          </div>
  
          <div class="card-body">
  
            <div class="form-group form-row" formGroupName="personName">
              <label for="firstName" class="col-md-4 col-form-label">First Name:</label>
              <div class="col-md-8">
                <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-control" formControlName="firstName" [ngClass]="{
                  'is-invalid': signUpForm.get('personName.firstName').invalid && (signUpForm.get('personName.firstName').dirty || signUpForm.get('personName.firstName').touched || signUpForm.submitted),
  
                  'is-valid': signUpForm.get('personName.firstName').valid && (signUpForm.get('personName.firstName').dirty || signUpForm.get('personName.firstName').touched || signUpForm.submitted) }">
  
                <span class="text-danger" *ngIf="signUpForm.get('personName.firstName').invalid && (signUpForm.get('personName.firstName').dirty || signUpForm.get('personName.firstName').touched || signUpForm.submitted) && signUpForm.get('personName.firstName').errors?.required">First name can't be blank</span>
  
                <span class="text-danger" *ngIf="signUpForm.get('personName.firstName').invalid && (signUpForm.get('personName.firstName').dirty || signUpForm.get('personName.firstName').touched || signUpForm.submitted) && signUpForm.get('personName.firstName').errors?.minlength">First name should contain at least 2 characters</span>
              </div>
            </div>
  
            
  
            <div class="form-group form-row">
              <label for="email" class="col-md-4 col-form-label">Email:</label>
              <div class="col-md-8">
                <input type="text" name="email" id="email" placeholder="Email" class="form-control" formControlName="email" [ngClass]="{
                  'is-invalid': signUpForm.get('email').invalid && (signUpForm.get('email').dirty || signUpForm.get('email').touched || signUpForm.submitted),
  
                  'is-valid': signUpForm.get('email').valid && (signUpForm.get('email').dirty || signUpForm.get('email').touched || signUpForm.submitted) }">
  
                <span class="text-danger" *ngIf="signUpForm.get('email').invalid && (signUpForm.get('email').dirty || signUpForm.get('email').touched || signUpForm.submitted) && signUpForm.get('email').errors?.required">Email can't be blank</span>
  
                <span class="text-danger" *ngIf="signUpForm.get('email').invalid && (signUpForm.get('email').dirty || signUpForm.get('email').touched || signUpForm.submitted) && signUpForm.get('email').errors?.email">Email is invalid</span>
              </div>
            </div>
  
        
          </div>
  
          <div class="card-footer">
            <button class="btn btn-success float-right">Create Account</button>
          </div>
  
        </div>
  
      </form>
    </div>
  </div>