
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Bootstrap Sign up Form Horizontal</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

</head>
<body>
<div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post" class="form-horizontal">
		<div class="col-xs-8 col-xs-offset-4">
			<h2>User Login</h2>
		</div>		
        <div class="form-group">
			<label class="control-label col-xs-4">Username</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="UserName" [(ngModel)]="user.userName"
                required minlength="4" id="name" name="userName" #name="ngModel">

                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                    <div *ngIf="name.errors?.['required']">
                        Name is required.
                      </div>
                      <div *ngIf="name.errors?.['minlength']">
                        Name must be at least 4 characters long.
                      </div>
                 </div>    
            </div>        	
        </div>

		<div class="form-group">
			<label class="control-label col-xs-4" for="">Password</label>
			<div class="col-xs-8">
                <input type="password" class="form-control" name="PassWord" required="required" [(ngModel)]="user.password">
            </div>        	
        </div>
		
		<div class="form-group">
			<div class="col-xs-8 col-xs-offset-4">
				
				<button type="submit" class="btn btn-primary btn-lg" (click)="login()">Login</button>
			</div>  
		</div>		      
    </form>
	<div class="text-center">You didn't have an account? <a routerLink="/signup">Register here</a></div>
</div>
</body>
</html>


