<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Bootstrap Sign up Form Horizontal</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

</head>
<body>
<div class="signup-form">
    <form action="/examples/actions/confirmation.php" method="post" class="form-horizontal" (ngSubmit)="onSubmitClick()">
		<div class="col-xs-8 col-xs-offset-4">
			<h2>Registration</h2>
		</div>		
        <div class="form-group">
			<label class="control-label col-xs-4">Username</label>
			<div class="col-xs-8">
                <input type="text" class="form-control" name="UserName" [(ngModel)]="user.userName"
                required minlength="4" id="name" name="userName" #name="ngModel">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                    <div *ngIf="name.errors?.['required']">
                        Name is required.
                      </div>
                      <div *ngIf="name.errors?.['minlength']">
                        Name must be at least 4 characters long.
                      </div>
                 </div> 
                 <span class="text-danger" *ngIf="user.get('user.UserName').invalid && (user.get('user.userName').dirty || user.get('personName.firstName').touched || user.submitted) && user.get('personName.firstName').errors?.required">First name can't be blank</span>   
            </div>        	
        </div>
		<div class="form-group">
			<label class="control-label col-xs-4">E-mail</label>
			<div class="col-xs-8">
                <input type="email" class="form-control" name="officialEmail" [(ngModel)]="user.officialEmail" required [pattern]="emailPattern" #offEmail="ngModel">
                <div *ngIf="offEmail.errors"> 
                    <div *ngIf="offEmail.errors['required']"> 
                        Official Email required.
                    </div>         
                    <div *ngIf="offEmail.errors['pattern']"> 
                        Official Email not valid.
                    </div>  
                 </div> 
            </div>        	
        </div>
		<div class="form-group">
			<label class="control-label col-xs-4" for="">Password</label>
			<div class="col-xs-8">
                <input type="password" class="form-control" name="PassWord" required="required" [(ngModel)]="user.password">
            </div>        	
        </div>
		<div class="form-group">
			<label class="control-label col-xs-4">Password(Confirm)</label>
			<div class="col-xs-8">
                <input type="password" for="" class="form-control" name="PassWord"[(ngModel)]="user.confirmPassword" required="required">
            </div>        	
        </div>
		<div class="form-group">
			<div class="col-xs-8 col-xs-offset-4">
				
				<button type="submit" class="btn btn-primary btn-lg" (click)="saveData()">Sign Up</button>
			</div>  
		</div>		      
    </form>
	<div class="text-center"> have an account? <a routerLink="/login">Login here</a></div>
</div>
</body>
</html>
