<table class="table">
  <thead class="table table-success table-striped">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{userData.userName}}</td>
        <td>{{userData.officialEmail}}</td>
        <td>{{userData.password}}</td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    
  